<% users.forEach((user) => { %>
  <div class="row user">
    <div class="col-md-3">
      <a href="/users/<%= user.id %>/<%=user.pylons%>"><h2><%= user.name %></h2></a>
      <div class="image" style="background-image:url(<%= user.imageSRC %>)" alt="<%= user.name %>"></div>
    </div>
<% }) %>
