<div class="row">

  <div class="col-md-1">
    <a href="/users/<%= user.id %>"><div id="navbarProfilePic" class="image" style="background-image:url(<%= user.imageSRC %>)" alt="<%= user.name %>"></div></a>
  </div>

  <div class="col-md-3 offset-md-2">
    <form action="/pylons" method="GET" class="search-form">
      <div class="form-group">
        <select name="category" required class="category">
          <option selected>Select Category</option>
          <option value="All"></option>
          <option value="Amusement Park">Amusement Park</option>
          <option value="Aquarium">Aquarium</option>
          <option value="Art Gallery">Art Gallery</option>
          <option value="Bar">Bar</option>
          <option value="Beauty Salon">Beauty Salon</option>
          <option value="Book Store">Book Store</option>
          <option value="Cafe">Cafe</option>
          <option value="Clothing Store">Clothing Store</option>
          <option value="Dentist">Dentist</option>
          <option value="Department Store">Department Store</option>
          <option value="Doctor">Doctor</option>
          <option value="Electrician">Electrician</option>
          <option value="Furniture Store">Furniture Store</option>
          <option value="Jewelry Store">Jewelry Store</option>
          <option value="Library">Library</option>
          <option value="Movie Theatre">Movie Theater</option>
          <option value="Museum">Museum</option>
          <option value="Pet Store">Pet Store</option>
          <option value="Restaurant">Restaurant</option>
          <option value="Shoe Store">Shoe Store</option>
          <option value="Spa">Spa</option>
        </select>
      </div>
    </div>
      <div class="col-md-3">
        <input type="submit" value="Filter" class="btn" id="submit">
      </div>
    </form>
  </div>



<div class="col-md-13">
  <div class="userMap" id="map" data-pylons="<%= JSON.stringify(pylons) %>"></div>
</div>

<div class="row">
  <% if (user.id === currentUser.id) { %>
    <div class="col-md-3 offset-md-3">
      <a href="/users/<%= user.id %>/edit" class="btn">Edit Account</a>
    </div>
    <div class="col-md-3">
      <form action="/users/<%= user.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE"/>
        <button class="btn">Delete Account</button>
      </form>
    </div>
  <% } %>
</div>


<% include ../partials/_map-modal %>
